<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<style>
  .submit_align{
    position: absolute;
    top: 22px;
  }
   #map-canvas {
        width: 500px;
        height: 400px;
      }
</style>

<script src="/static/js/post.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
      function initialize() {
        var latitude = $('#latitude').attr('value');
        var longitude = $('#longitude').attr('value');
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(latitude, longitude),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(latitude, longitude),
          map: map,
          title: document.getElementById('restaurant_name').innerHTML
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
<link rel="stylesheet" type="text/css" href="/static/css/modal-window.css"/>
<script src="/static/js/modal-window.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
function submit_form()
{
  var $ht = 0.25*$(window).height();
  var $wt = 0.25*$(window).width();
  var $phone = $('#phone').val();
  var $restaurant_id = $('#restaurant_id').attr('value');
  var data = {
      'phone': $phone,
      'restaurant_id':  $restaurant_id
    };

    $.ajax({
            type: "POST",
            url: "/refer",
            data: data,
            success: function(result){
              $modal.open({content: result, height: $ht, width: $wt});
            },
            error: function(error) {
              $modal.open({content: "Message delivery failed.", height: $ht, width: $wt});
            } 
          });
}

function submit_qrcode()
{
  var params = {}
  params["qrcode"] = document.getElementById("qrcode").value;
  params["restaurant_id"] = $('#restaurant_id').attr('value');
  post_internal("/survey", params, "POST");
}

function post_internal(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    form.setAttribute("enctype", "multipart/form-data")

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

reviews_html = "<div class=\"ui grid\">"+

      "<div class=\"row\">"+
        "<div class=\"two wide column\">"+
        "</div>"+
        "<div class=\"twelve wide column\" align=\"center\">"+
          "<div> madafaka </div>"+
        "</div>"+
        "<div class=\"two wide column\">"+
        "</div>"+
      "</div>"+ "</div>";
$(document).ready(function(){ 
  $.ajax({
        type: "GET",
        url: "/get_reviews?id=" + $('#restaurant_id').attr('value'),
      })
  .done(function(data){
    //alert(JSON.stringify(data));
    reviews_html = "";
    var num_reviews = Object.keys(data).length;
    for(var i=1; i<=num_reviews; i++)
    {
      reviews_html = reviews_html + "<div class=\"ui grid\">"+

      "<div class=\"row\">"+
        "<div class=\"two wide column\">"+
        "</div>"+
        "<div class=\"twelve wide column\" align=\"center\">"+
          "<div>"+ data["review_" + i] +"</div>"+
        "</div>"+
        "<div class=\"two wide column\">"+
        "</div>"+
      "</div>"+ "</div>";
    }
    document.getElementById("reviews").innerHTML=reviews_html;
  })
});

</script>

  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Restaurant Opinion Rewards</title>

  <link rel="stylesheet" type="text/css" href="/static/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/static/css/kitchensink.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

  <!-- Used with Tab History !-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
  <script src="/static/js/semantic.js"></script>
</head>

<body id="sink">
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="ui grid">
<div class="row">
<div class="six wide column"></div>
<div class="four wide column">
<div class="ui card">
  <div class="image">
    <div class="ui dimmer">
      <div class="content">
          <div class="center">
              <div class="ui inverted button">Restaurant</div>
          </div>
       </div>
    </div>
     <img src={{ restaurant.image_path }}>
  </div>
  <div class="content">
    <div align="center"
    <div class="header" id="restaurant_name">{{ restaurant.name }}</div>
    <input type="hidden" id="restaurant_id" style="display:none;" value={{ restaurant.id }} />
    <input type="hidden" id="latitude" style="display:none;" value={{ restaurant.latitude }} />
    <input type="hidden" id="longitude" style="display:none;" value={{ restaurant.longitude }} />
    <br>
    <div class="fb-like" data-href="https://www.facebook.com/pages/Nitin-wait-for-it-Sanket/588204974540291?fref=ts" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div>
    </div>
  </div>

</div>
</div>
<div class="six wide column"></div>
</div>
</div>

<div class="ui grid">
      
  <div class="row">
    <div class="two wide column">
    </div>
    <div class="twelve wide column">
      <div class="ui form segment">
        <div class="ui grid">
          <div class="row">
            <div class="fourteen wide column">            
              <div class="field">
                <label>To refer a friend, enter their phone number</label> 
                  <input type="text" id="phone">
              </div>
            </div>
          <div class="two wide column">
            <div class="submit_align">
            <div class="ui button" onclick="submit_form()">Refer your friend</div>
            </div>
          </div>
        </div>
      </div>
      <form action="/survey" enctype="multipart/form-data" method="post" > 
        <div class="ui grid">
            <div class="row">
              <div class="fourteen wide column">
                <div class="field">
                <label>Upload QR code image here</label> 
                    <input class="ui button" type="file" name="qrcode_image" size="40">
                    <input type="hidden" id="survey_restaurant_id" style="display:none;" value={{ restaurant.id }} />
                </div>
              </div>
              <div class="two column wide">
              <input class="ui button"  id="checkin" type="submit" value="Check in to restaurant">
            </div>
          </div>
        </div>
      </form>
       </div>   
    
    </div>
    <div class="two wide column">
    </div>
  </div>

  </div>

  <div class="ui grid">
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="twelve wide column" align="center">
        <div id="map-canvas" ></div>
      </div>
      <div class="two wide column">
      </div>
    </div>
  </div>


  <div class="ui grid">
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="twelve wide column" align="center">
        <h2>Reviews</h2>
      </div>
      <div class="two wide column">
      </div>
    </div>
  </div>


  <div id="reviews">

    
  </div>
<!--form enctype="multipart/form-data" method="post" action="http://zxing.org/w/decode">
<input name="f" type="file"/>
<input type="submit"/>
</form-->
 <div id="fb-root"></div>

<div align="center">
<div class="fb-comments" data-href="https://www.facebook.com/pages/Nitin-wait-for-it-Sanket/588204974540291" data-width="1000" data-numposts="1" data-colorscheme="light"></div>
</div>
</body>
</html>