<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Home Page</title>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/static/css/kitchensink.css">
  <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="/static/css/modal-window.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

  <!-- Used with Tab History !-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
  <script src="/static/js/semantic.js"></script>
  <script src="/static/js/homepage.js"></script>
  <script src="/static/js/post.js"></script>
  <script src="/static/js/modal-window.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="/static/js/autocomplete.js"></script>
  <script type="text/javascript">google.maps.event.addDomListener(window, 'load', initialize);</script>



</style>
</head>
<body id ="sink" onload="getLocation()">
<div class="ui secondary segment">
 <div class="ui grid">
  <div class="four column row">
    <div class="column">
    <div align="center">
      <h1 class="ui header">DHONDU BACHHA </h1>
    </div>
    </div>
    <!--<form action="/login_user" method="POST">-->
      <div class="column">
        <div align="center">
          <div class="ui icon input">
              <input type="text" placeholder="Username" name="username" id="id_username">
          </div>
      </div>
     </div>
    
     <div class="column">
        <div align="center">
          <div class="ui icon input">
               <input type="password" placeholder="Password" name="password" id="id_password">
          </div>
        </div>
     </div>
     <div class="column">
      <div class="ui grid">       
          <div class="two column row">
              <div class="column" align="left">
              <div class="ui red button" id="login_button">Login</div>
            </div>
            <div class="column" align="right">
              <button class="ui red button" onclick="insert()">Sign up</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">
  function insert()
  {
    var data = new Object();
    post('/insert',data, 'POST');
  }

</script>

<script type="text/javascript">
  var data = new Object();
  function getLocation(){
    if (navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else 
    {
        //x.innerHTML = "Geolocation is not supported by this browser.";
    }
      
    function showPosition(position) {
      data['latitude'] = position.coords.latitude ;
      data['longitude'] = position.coords.longitude; 
    }
  }
  $('#login_button').click(function() {
    var $username = $('#id_username').val();
    var $password = $('#id_password').val();

    geocoder = new google.maps.Geocoder();
    var address = document.getElementById("my-address").value;
    /*var data = {
      'username': $username,
      'password': $password
    };*/
    
    data['username'] = $username;
    data['password'] = $password;

    /*geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        data['latitude'] = results[0].geometry.location.lat();
        data['longitude'] = results[0].geometry.location.lng();
      }
    });*/

    post('/login',data, 'POST');
  });

  function search_button_clicked() {
  //alert("Search button clicked");
  var search_data = {}
    geocoder = new google.maps.Geocoder();
    var address = document.getElementById("my-address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
        search_data['latitude'] = results[0].geometry.location.lat();
        search_data['longitude'] = results[0].geometry.location.lng();      
        post('/search',search_data, 'POST');
    });

   
}
</script>
<script type="text/javascript">
</script>

<div class="ui inverted masthead segment">
    <div class="ui page grid">
      
       <div class="ui transition information visible">
          <h1 class="ui inverted header">
           <font color="black"> Dhondu Betaaa Just Chill !!!!!</font>

          <p><font color="black">Browse through thousands of restaurants nearby and zoom in, on the best place to eat.</font></p>
          </h1>
          <div class="ui grid">
          <div class="five column row">
          <div class="column"></div>
          <div class="column">
       <div class="ui remote search">
              <input type="text" placeholder="Search for Restaurants" id="my-address" class="prompt">
          <div class="results"></div>
        </div>
      </div>
      <div class="column">
          <div class="large basic inverted animated fade ui button" id = "search_button" onclick="search_button_clicked();">
            <div class="visible content"> <font color = "black">Hungry ?</font></div>
            <div class="hidden content"> <font color="black">Run Search </font></div>
          </div>
          </div>
          <div class="column">
            <br>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Nitin-wait-for-it-Sanket/588204974540291?fref=ts" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

          </div>
          <div class="column"></div>
        </div>
        </div>
      </div>
      </div>
    </div>

<!--Restaurant Card
    
    <div class="ui card">
      <div class="image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Add Friend
              </div>
            </div>
          </div>
        </div>
        <img src="/static/images/wireframe/image.png">
      </div>
      <div class="content">
        <div class="header">Title</div>
        <div class="meta">
          <a class="group">Meta</a>
        </div>
        <div class="description">One or two sentence description that may go to several lines</div>
        </div>
      <div class="extra content">
        <a class="right floated created">Arbitrary</a>
        <a class="friends">Arbitrary</a>
      </div>
    </div>
-->

{% for key, value in nearby_restaurants.items %}
      <div class="ui grid">
        <div class="four column row">
        {% for key1, value1 in value.items %}
          <div class="column">
            <div class="ui card">
                <div class="image">
                  <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Restaurant</div>
                        </div>
                     </div>
                  </div>
                   <img src="/static/images/wireframe/image.png">
              </div>

              <div class="content">
                  <div class="header">
                    {% with "/checkin?id="|add:value1.id as checkin_url %}
                      <a href={{ checkin_url }}>{{ value1.name }}</a>
                    {% endwith %}
                  </div>
                  <div class="meta">
                    <a class="group">{{ value1.stars }}</a>
                  </div>
                  <div class="description">{{ value1.full_address }}</div>
              </div>

              <div class="extra content">
                  <a class="center floated created">My Review</a>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}


</body>
</html>