<html>
<head>
	<title>
		Sign Up Page
	</title>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1684825848411817',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<!--<script src="../static/facebook.js"></script>-->
	<form action="/signup" method="POST">
		<div align="left">
			UserId : <input type="userid" name="userId" /><br/>
 
			First Name : <input type="first name" name="firstName" /><br/>
 
			Last Name : <input type="last name" name="lastName" /><br/>

			Password : <input type="password" name="password" /><br/>

			Confirm Password : <input type="confirm password" name="confirmPassword" /><br/>
 
			Date of Birth : <input type="date of birth" name="dob" /><br/>
 
			Email : <input type="email" name="email" /><br/>
 
			Mobile: <input type="number" name="mobile" /><br/>

		<input type="button" value="Submit" /><br/>
		</div>
	</form>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

</body>
</html>